<h1>Welcome to Pintrest!</h1>

<p>
	<% if @items.any? %>
		<% @items.each do |item| %>
			<ul>
			<%= item.title %><br/>
			<%= link_to 'Show', "/items/#{item.id}" %>
			</ul>
		<% end %>
	<% else %>
		<p> There are no items!</p>
	<% end %>
</p>


<%= link_to 'Create item', "items/new" %>
